body {
    background-color: #f2f2f2;
}

.bg-light {
    background-color: #27938E!important;
}
.navbar {
    padding: 2px;
}

/* "Ibotta" */
.navbar-brand {
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-left: 3%;
}

a {
    color: white!important;
}

/* Link list on the right as a whole unit */
.navbar-nav {
    margin-left: 60%;
}

/* Individual links from right-hand side link list */
.nav-link {
    margin-right: 17px;
}

.signUpBtn {
    border: 1px solid rgba(74,74,74, .5);
    border-radius: 5px;
}